openapi: 3.1.0
info:
  title: Dining API
  version: 1.0.0
servers:
  - url: http://localhost:8080/api
paths: 
  # /auth/signup:
  #   post:
  #     summary: User signup
  #     tags: 
  #     - Auth 
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:

  #     responses:
  #       '201':
  #         description: OK
  #         content:


  /users:
    get:
      summary: List all users (admin-only)
      tags:
        - Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'    
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
          example: 1
        email:
          type: string
          example: test@gmail.com
        role:
          type: string
          enum: [USER, ADMIN]
          example: USER
        preferences:
          type: string
          example: placeholder
        notificationEnabled:
          type: boolean
          example: false
        favoriteFoods:
          type: string
          example: placeholder