openapi: 3.1.0
info:
  title: Dining API
  version: 1.0.0
servers:
  - url: http://localhost:8080/api
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
paths:
  /auth/signup:
    $ref: paths/authRegister.yaml
  /auth/login:
    $ref: paths/authLogin.yaml
  /locations:
    $ref: paths/location.yaml
  /locations/{id}:
    $ref: paths/locationId.yaml
  /menus:
    $ref: paths/menus.yaml
  /menus/{id}:
    $ref: paths/menusId.yaml
  /foods:
    $ref: paths/foods.yaml
  /foods/{id}:
    $ref: paths/foodsId.yaml
  /users:
    $ref: paths/users.yaml
  /users/me:
    $ref: paths/usersMe.yaml
